# Ignore all files inside processed/, except AAPL.csv
data/processed/*
!backend/data/processed/AAPL.csv

# Ignore top-level models directory
/models/

# Don't ignore model files inside backend
!backend/models/
!backend/models/*.pkl

# Python cache and logs
__pycache__/
*.log
*.pyc

# Jupyter/VSCode artifacts
.ipynb_checkpoints/
.vscode/
.env